<% include top.ejs %>
<div class="container">
    <table class="table table-bordered table-hover" style="text-align: center">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>
                <a href="javascript:;">操作</a>
            </td>
        </tr>
        <% for(var i = 0; i < data.length;i++){ %>
        <tr>
            <td><%= data[i]._id %></td>
            <td><%= data[i].name %></td>
            <td class="box">
                <a type="button" class="btn " data-toggle="modal" data-target="#exampleModal"
                   data-whatever="@getbootstrap">修改</a>|
                <a href="javascript:;">删除<%= i %></a>
                <input type="hidden" value="<%= data[i]._id %>">
                <input type="hidden" class="val" value="<%= data[i].name %>">
            </td>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">新名称</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="edit">确认修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        <% } %>
    </table>
</div>
<script>
    $(function () {
        //删除
        $('.box').find('a:nth-child(2)').on('click', function () {
            var id = $(this).parent().find('input').val();
            var con = window.confirm('确认要删除吗');
            if (con) {
                $.ajax({
                    url: '/admin/category/dl',
                    type: 'get',
                    data: {
                        id: id
                    },
                    success: function (res) {
                        if (!res.code) {
                            alert('删除成功  ')
                            window.location.reload()
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }
        });
        //修改
        $('.box').find('a:nth-child(1)').on('click', function () {
            var name = $(this).parent().find('input.val').val();
            var id = $(this).parent().find('input').val();
            console.log(name)
            console.log(id)
            $('#edit').on('click', function () {
                var rec = $('#recipient-name').val()
                console.log(rec)
                if (rec === '') {
                    alert('内容不能为空')
                } else if (rec == name) {
                    alert('修改内容不能重复')
                } else {
                    $.ajax({
                        url: '/admin/category/de',
                        type: 'get',
                        data: {
                            id: id,
                            name: rec
                        },
                        success: function (res) {
                            console.log(res);
                            window.location.reload()
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    });
                    $('#exampleModal').modal('toggle');
                }
            })

        })
    })
</script>
<% include bottom.ejs %>